<!doctype html>
html(lang="pug" dir="ltr")
    include ../includes/head
  
    body
        include ../includes/nav
        
        .container(style="padding-top:75px;").mb-5
        
            block content
   
        include ../includes/script

